.result-box {
    border: none;
    padding: 3px;
    margin-top: 20px;
    position: absolute;
    min-width: 200px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 5px 0;
            &:hover {
                background: #eee;
            }
        }
    }
}