<div class="searcher-container searcher">
    <label class="searcher-label">Find info about European capital:</label>
    <div>
        <div class="searcher-bar">
            <input placeholder="Type search phrase" 
            (keyup)="searchHandler($event)" 
            value="{{choosenValue}}" 
            #inputElement
            />
            <app-autocomplete *ngIf="list.length != 0" [items]="list" (clickedValue)="getChoosenValue($event)"></app-autocomplete>
        </div>
        <button (click)="makeSearch(inputElement.value)">Find</button>
    </div>
</div>